*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

clwsd/hmmwsd/pickles
venv

## All the output we're going to generate
hmmwsd/*output*/*
src/results/*
semeval_2013_output/*.results
semeval_2013_output/*.best
semeval_2013_output/*.oof
semeval_2010_output/*.results
semeval_2010_output/*.best
semeval_2010_output/*.oof
src/LOGS/*

malt_parser/*
